    <div class="row">
        <div class="col-lg-12">
            <div id="map"></div>
        </div>

        <div class="col-lg-12">
        	{{#data}}
            <div class="search-result col-md-4">
		    	<div><img src="{{image}}" class="listing-pic"> </div>
                <div>{{title}}</div>
                <div>{{details}}</div>
                <div>{{address1}}</div>
            </div>
            {{/data}}
        </div>
        
    </div>
    <!-- /.row -->

    <div class="hidden" id="data">{{toJSON data}}</div>